* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  h1 {
    color: #426696;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
  }
  h2,
  p {
    color: #658ec6;
    font-weight: 500;
    opacity: 0.8;
  }
  
  h3 {
    color: #426696;
    font-weight: 600;
    opacity: 0.8;
  }
  
 
  header{
      background: black
  }
      
  nav{
    overflow: hidden;
    
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 9999;
  }
  main {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb); 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  ul{
    list-style-type: none;
    text-align: center;
    margin: 0auto;
    padding: 0px;
    display: block;
    overflow: hidden;
  }
  li,a{
    display: inline-block; 
    font-family: 'Lato', sans-serif;
    
  }
  a{
    color: darkblue;
    text-decoration: none;
    text-transform: uppercase;
  }

  a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
  }
  
  a:link {
    color: #013c53;
  }
  
  a:visited {
    color: #34167a;
  }
  
  a:focus {
    border-bottom: 1px solid;
    background: darkblue;
  }
  
  a:hover {
    border-bottom: 1px solid;
    background: blue;
  }
  
  a:active {
    background: #265301;
    color: #aaabfe;
  }

  


  br {
    position:relative;
    display: inline-block;
    font-size: 8px;
    line-height: 8px;
    height: 8px;
    color: white;
    content: "A";
    width: 5px;
}
  .glass {
    background: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
  }
  .circle1,
  .circle2 {
    background: white;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.3)
    );
    height: 20rem;
    width: 20rem;
    position: absolute;
    border-radius: 50%;
  }
  
  .circle1 {
    top: 5%;
    right: 15%;
  }
  .circle2 {
    bottom: 5%;
    left: 10%;
  }
  .dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
  }
 .dashboard #LoginForm{

    display: block;
    font-size: 10px;
    height: 8px;
    color: Black;
    width: 5px;
    z-index: 1;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-sizing: center;
    width: 300px;           
    height: 200px;         
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;     
    margin-left: -150px;     
    
 }
 
 .dashboard #LoginForm, input{    
    position:center

 }

  table, td {
    padding: 0.3rem;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    position: center;
    
    color: darkblue;
    font-family: Tahoma, Arial, Helvetica, sans-serif;}
    
    th {
         padding: 0.3rem;
         background-color: red; 
         color: darkblue; }